<html>

<body>
    {% if object_list  %}
    <ul>
        
        <table>
            <tr>
                <th>鑑賞日時</th>
                <th>映画タイトル</th>
                <th>公開日</th> 
                <th>劇場名</th>
            </tr>
            {% for checkin in object_list  %}
            <tr>
                <td>{{ checkin.checkin_datetime }}</td>
                <td>{{ checkin.movie.movie_title }}</td>
                <td>{{ checkin.movie.pub_date }}</td>
                <td>{{ checkin.theatre }}</td>
                <td><a href="{% url 'theatreCheckIn:checkin_detail' checkin.checkin_id %}">詳細</a></td>
                <td><a href="{% url 'theatreCheckIn:checkin_delete' checkin.checkin_id %}">削除</a></td>
            </tr>
            {% endfor %}
        </table>
        
    </ul>
    {% else %}
    <p>チェックイン履歴はありません。</p>
    {% endif %}
  
    <form action="{% url 'theatreCheckIn:index' %}" method="GET">
        <button type="button" class="btn btn-primary btn-lg">戻る</button>
    </form>
</body>

</html>