<html>

<body>
    <ul>
        
        <table>
            <tr>
                <th>鑑賞日時</th>
                <th>映画タイトル</th>
                <th>公開日</th> 
                <th>劇場名</th>
            </tr>
            <tr>
                <td>{{ object.checkin_datetime }}</td>
                <td>{{ object.movie_title }}</td>
                <td>{{ object.pub_date }}</td>
                <td>{{ object.theatre }}</td>
            </tr>
        </table>
        
    </ul>

    <form action="{% url 'theatreCheckIn:register_confirm' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="チェックイン">
    </form>
    
    <form action="{% url 'theatreCheckIn:index' %}" method="GET">
        <button type="button" onclick="history.back()" class="btn btn-primary btn-lg">戻る</button>
    </form>
</body>

</html>